apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

# Add Prometheus annotations
patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/metadata/annotations
        value:
          prometheus.io/scrape: "true"
          prometheus.io/port: "80"